# Docs: https://docs.ros.org/en/noetic/api/robot_localization/html/state_estimation_nodes.html
# Examples found in: https://github.com/cra-ros-pkg/robot_localization/tree/ros2/params
# We use yaml anchors/aliases because local and global EKF require the same sensors

# TODO: Covariance Matrices
# TODO: Acceleration/Deceleration Kinematics

# -- Local EKF Filter (Odom)
ekf_local_filter_node:
  ros__parameters:
    sensor_timeout: 0.2
    two_d_mode: true
    transform_time_offset: 0.1
    transform_timeout: 0.05
    publish_tf: true

    # REP-105 (http://www.ros.org/reps/rep-0105.html)
    # specifies four principal coordinate frames: base_link, odom, map, and earth.
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # -- Wheel Odometry
    odom0: wheel/odometry
    # -- [x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az]
    odom0_config: [false,  false,  false,
                   false, false, false,
                   true,  false, false,
                   false, false, false,
                   false, false, false]
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false


    # -- Oak0 Imu
    imu0: oak1/imu/data
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_queue_size: 10
    imu0_differential: false
    imu0_relative: false
    imu0_nodelay: true
    imu0_pose_rejection_threshold: 10.0
    imu0_twist_rejection_threshold: 10.0
    imu0_linear_acceleration_rejection_threshold: 10.0

    # imu1: oak1/imu/data
    # imu1_config: [false, false, false,
    #               false, false, true,
    #               false, false, false,
    #               false, false, false,
    #               false, false, false]
    # imu1_queue_size: 10
    # imu1_differential: false
    # imu1_relative: true
    # imu1_nodelay: false
    # imu1_pose_rejection_threshold: 10.0
    # imu1_twist_rejection_threshold: 10.0
    # imu1_linear_acceleration_rejection_threshold: 10.0

    use_control: false
    control_timeout: 0.2

    dynamic_process_noise_covariance: true


# -- Global EKF Filter (Map)
ekf_global_filter_node:
  ros__parameters:
    sensor_timeout: 0.2
    two_d_mode: true
    transform_time_offset: 0.1
    transform_timeout: 0.05
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: map

    # -- Inputs
    # -- GPS
    odom0: odometry/gps
    odom0_config: [true,  true,  false,
                  false, false, false,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false
    odom0_nodelay: true

    # -- Wheel Odometry
    odom1: wheel/odometry
    # # -- [x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az]
    odom1_config: [false,  false,  false,
                   false, false, false,
                   true,  false, false,
                   false, false, false,
                   false, false, false]
    odom1_queue_size: 10
    odom1_differential: false
    odom1_relative: false

    # -- Oak0 Imu
    imu0: oak1/imu/data
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_queue_size: 10
    imu0_differential: false
    imu0_relative: false
    imu0_nodelay: true
    imu0_pose_rejection_threshold: 10.0
    imu0_twist_rejection_threshold: 10.0
    imu0_linear_acceleration_rejection_threshold: 10.0

    # imu1: oak0/imu/data
    # imu1_config: [false, false, false,
    #               false, false, false,
    #               false, false, false,
    #               false, false, true,
    #               false, false, false]
    # imu1_queue_size: 10
    # imu1_differential: false
    # imu1_relative: true
    # imu1_nodelay: false
    # imu1_pose_rejection_threshold: 10.0
    # imu1_twist_rejection_threshold: 10.0
    # imu1_linear_acceleration_rejection_threshold: 10.0

    use_control: false
    control_timeout: 0.2

    dynamic_process_noise_covariance: false

# -- Navsat Transform (GPS)
navsat_transform_node:
    ros__parameters:
        frequency: 5.0
        delay: 3.0

        # TODO: Verify IMU data
        use_odometry_yaw: false
        magnetic_declination_radians: 0.2193
        yaw_offset: 0.0

        zero_altitude: true
        publish_filtered_gps: true

        wait_for_datum: true
        # Users can specify the origin manually
        datum: [37.3611, -120.4322, 0.0]
        broadcast_cartesian_transform: true
        broadcast_cartesian_transform_as_parent_frame: true
