# Docs: https://docs.ros.org/en/noetic/api/robot_localization/html/state_estimation_nodes.html
# Examples found in: https://github.com/cra-ros-pkg/robot_localization/tree/ros2/params
# We use yaml anchors/aliases because local and global EKF require the same sensors

# TODO: Covariance Matrices
# TODO: Acceleration/Deceleration Kinematics

# -- Local EKF Filter (Odom)
ekf_local_filter_node:
  ros__parameters:
    two_d_mode: true
    publish_tf: true

    # REP-105 (http://www.ros.org/reps/rep-0105.html)
    # specifies four principal coordinate frames: base_link, odom, map, and earth.
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # -- Wheel Odometry
    odom0: wheel/odometry
    # -- [x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az]
    odom0_config: [false,  false,  false,
                   false, false, false,
                   true,  false, false,
                   false, false, false,
                   false, false, false]
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false

    # -- Oak0 Imu
    imu0: /bno085/imu
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false, false, false]
    imu0_queue_size: 10
    imu0_differential: false
    imu0_relative: false


# -- Global EKF Filter (Map)
ekf_global_filter_node:
  ros__parameters:
    two_d_mode: true
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: map

    # -- Inputs
    # -- GPS
    odom0: odometry/gps
    odom0_config: [true,  true,  false,
                  false, false, false,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false

    # -- Oak0 Imu (yaw orientation)
    imu0: /bno085/imu
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_queue_size: 10
    imu0_differential: false
    imu0_relative: false


# -- Navsat Transform (GPS)
navsat_transform_node:
    ros__parameters:
        frequency: 5.0

        use_odometry_yaw: false
        magnetic_declination_radians: 0.2193
        yaw_offset: -0.4

        publish_filtered_gps: true

        wait_for_datum: true
        # Users can specify the origin manually
        # Merced (UCM, Prof. Ehsani)
        datum: [37.3611, -120.4322, 0.0]
        # Shiraz Ranch
        # datum: [37.353876320563835, -121.11071526574209, 0.0]
        broadcast_cartesian_transform: true
        broadcast_cartesian_transform_as_parent_frame: true
